#builder {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
  #builder .toolbar-container {
    padding-right: 12px; }
    #builder .toolbar-container .luca-ui-toolbar.toolbar-bottom {
      margin-top: 0px; }
    #builder .toolbar-container .luca-ui-toolbar.toolbar-top {
      margin-bottom: 0px; }

.builder-editor-container .CodeMirror {
  font-size: 1.2em;
  line-height: 1.5; }

#component_list {
  overflow: scroll;
  height: 100%; }
  #component_list .collection-item {
    padding: 3px 0px 3px 4px;
    cursor: pointer; }
.marketing-content {
  line-height: 1.5;
  color: #333; }
  .marketing-content p {
    font-size: 14px; }
  .marketing-content #information .row.heading {
    margin-top: 12px;
    margin-bottom: 12px; }
  .marketing-content #information .row h3 {
    margin-bottom: 4px; }
/*

 */

