<div class="component-documentation-wrapper">
  <div class="header-documentation"></div>
  <div class="public properties">
    <h4>Public Configuration</h4>
    <table class="table table-condensed table-striped">
      <thead>
        <th width="15%">Property</th>
        <th width="15%">Defaults</th>
        <th width="70%">Documentation</th>
      </thead>
      <tbody>
      </tbody>
    </table>    
  </div>
  <div class="public methods">
    <h4>Public Methods</h4>
    <table class="table table-condensed table-striped">
      <thead>
        <th width="15%">Method</th>
        <th width="15%">Args</th>
        <th width="70%">Documentation</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>  

  <div class="private properties">
    <h4>Private Configuration</h4>
    <table class="table table-condensed table-striped">
      <thead>
        <th width="15%">Property</th>
        <th width="15%">Defaults</th>
        <th width="70%">Documentation</th>
      </thead>
      <tbody>
      </tbody>
    </table>    
  </div>
  <div class="private methods">
    <h4>Private Methods</h4>
    <table class="table table-condensed table-striped">
      <thead>
        <th width="15%">Method</th>
        <th width="15%">Args</th>
        <th width="70%">Documentation</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>  

  <h4 class="source">Source</h4>
  <pre class="source pre-scrollable prettyprint"></pre>
</div>