.luca-ui-development-console.luca-ui-modal {
  position: absolute;
  left: 50%;
  margin-left: -375px;
  width: 750px;
  height: 500px;
}

.luca-ui-development-console {
  background: rgba(0,0,0,0.9);
  font-size: 16px;
  margin-top: 1em;
  font-family: "Monaco";
  height: 620px;
  width: 95%;
 .console-inner {
    color: #fff;
    height: 600px;
    width: 100%;
   .jquery-console-inner {
      height: 100%;
      width: 100%;
      overflow: auto;
      padding: 0.5em;
   }

   .jquery-console-focus .jquery-console-cursor {
      font-weight: bold;
      color: #fff;
      background: rgba(255,255,255,0.2);
   }

   .jquery-console-message {
    margin:10px 0px;
   }

   .jquery-console-message-error {
      font-weight: bold;
      color: #ef0505;
      padding: 0.1em;
   }

   .jquery-console-prompt-label {
      font-weight: bold;
      color: yellow;
   }
 }
}

.console-inner {
  .array-inspector {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    margin: 10px 0px;
    span {
      float: left;
      display: block;
      padding: 5px;
    }
  }
}