.luca-ui-form-view-wrapper {
  width: 100%;
  float: left;
  display: block;
  clear: both;
  margin: 10px 0px;
}


.luca-ui-form-view {
  .luca-ui-field {
    margin: 5px;
    padding: 5px;

    .helper-text {
      font-size: 0.75em;
      font-color: #ccc;
    }
  }
}

.luca-ui-form-view.label-align-top {
  .luca-ui-field {
    label, input, select, textarea {
      margin: 5px 0px;
      display: block;
    }
  }
}

.luca-ui-form-view.column-layout {
  .luca-ui-field {
    float: left;
  }
}

.luca-ui-form-view {
  .toolbar-container {
    padding-right: 12px;
  }
}

/* support for older form view config */
.form-view-footer {
  .toolbar-container {
    float: left;
    width: 100%;
    clear: both;
    display: block;
    .luca-ui-form-toolbar, .luca-ui-toolbar {
      width: 50%;
      display: block;
      margin: 0px auto;
      .luca-ui-field {
        float: left;
      }
    }
  }
}


