.luca-ui-form-view-wrapper {
  width: 100%;
  float: left;
  display: block;
  clear: both;
  margin: 10px 0px;
}

.luca-ui-form-view {
  .luca-ui-field {
    margin: 5px;
    padding: 5px;
  }
}

.luca-ui-form-view.label-align-top {
  .luca-ui-field {
    label, input, select, textarea {
      margin: 5px 0px;
      display: block;
    }
  }
}

.luca-ui-form-view.column-layout {
  .luca-ui-field {
    float: left;
  }
}

