.luca-ui-form-view {
  width: 100%;
  float: left;
  display: block;
  clear: both;
  margin: 10px 0px;

  fieldset {
    border: 1px solid #ddd;
    legend {
      text-align: left;
      padding: 5px;
      font-size: 0.8em;
    }
  }

  fieldset.label-align-top {
    label {
      margin: 5px 0px;
    }

    label, input, select {
      display: block;
    }
  }

  form.column-view {
    .luca-ui-field {
      float: left;
      margin-right: 10px;
      padding-right: 5px;
    }
  }
}
