<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Luca. Container Framework For Backbone Views</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="<%= asset_path('jasmine.css') %>" />
    <script src="<%= asset_path('spec-dependencies.js') %>"></script>
    <script src="<%= asset_path('luca-ui-spec.js') %>"></script>
  </head>
  <body>
    <div id="container">
      <div id="viewport"></div>
    </div>
      <script type="text/javascript">
        jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
        jasmine.getEnv().execute();
      </script>
  </body>
</html>
