(function() {
  this.JST || (this.JST = {});
  this.JST["docs/templates/layouts/main"] = function(obj){var __p=[],print=function(){__p.push.apply(__p,arguments);};with(obj||{}){__p.push('<div class="row-fluid">\n  <div class="span3" data-region="left"></div>\n  <div class="span9" data-region="right"></div>\n</div>\n');}return __p.join('');};
}).call(this);
