<div class="luca-ui-g-view-wrapper">
  <div class="g-view-header"></div>
  <div class="luca-ui-g-view-body">
    <table class="luca-ui-g-view scrollable-table" width="100%" cellpadding=0 cellspacing=0>
      <thead class="fixed"></thead>
      <tbody class="scrollable"></tbody>
      <tfoot></tfoot>
    </table>
  </div>
  <div class="luca-ui-g-view-header"></div>
</div>
