<div class="hero-unit">
  <h1>Luca</h1>
  <p>A framework and tools for building well architected client side applications.</p>
  <p>Based on <a href="http://backbonejs.org">Backbone.js</a> and <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>.</p>
  <a class="btn btn-large btn-primary" href="//datapimp.github.com/luca/downloads/luca-<%= Luca.VERSION %>.zip">Download</a>

  <ul class="links">
    <li>
      <i class="icon icon-github" />
      <a href="https://github.com/datapimp/luca">Github Project</a>
    </li>
    <li>
      <a href="#examples">Examples</a>
    </li>
    <li>
      <a href="#contribute">Contribute</a>
    </li>
    <li>
      Version <%= Luca.VERSION %>
    </li>
  </ul>

</div>

<div id="features" class="row-fluid">
  <div class="span4">
    <h3><i class="icon icon-coffee" /> Coffeescript, player.</h3>
    <p>
      Luca allows you to write most of your app in Coffeescript.  Most of the structural markup is taken care of for you, and Bootstrap handles a lot of CSS styling for you already. We find that this allows us to develop apps and focus primarily on their functionality and interaction first.  
    </p>

    <p>This also makes it very easy to render your app on the client and on the server.</p> 
  </div>
  <div class="span4">
    <h3><i class="icon icon-sitemap" /> Component Driven Design</h3>
    <p>Luca encourages you to design your app as a library of components: re-usable, well encapsulated interface elements with their own concerns.  Luca provides ways of joining components together to form more complex pieces which get integrated into the pages of your application.</p> 
    <p>As your app grows to a certain level, you will find that you have built up a large library of patterns and tools that you can begin to develop new features very quickly without having to solve the same design problems over and over.</p>
  </div>
  <div class="span4">
    <h3><i class="icon icon-wrench" /> Developer Tools</h3>
    <p>Luca comes with a variety of tools that make developing large browser applications much easier. </p>
    <ul class="nav">
      <li><a href="#code-sync">Code Sync</a></li>
      <li><a href="#documentation-generator">Generated Documentation</a></li>
      <li><a href="#component-builder">In browser prototype tool</a></li>
      <li><a href="#free-persistence">Throwaway Persistence</a></li>
    </ul> 
  </div>
</div>

<div>
  A labor of love by <a href="http://twitter.com/soederpop">@soederpop</a> for my son and my comrades at <a href="https://benchprep.com">@benchprep</a>. MIT Licensed.
</div>

<div>
  <a href="https://github.com/datapimp/luca/issues">Issues</a>
  <a href="https://github.com/datapimp/luca/blob/master/CHANGELOG">Changelog</a>
</div>