<h1>Luca.js</h1>
<p>A complete front-end solution for building well architected client side applications.</p>
<p>Based on <a href="http://backbonejs.org">Backbone.js</a> and <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>.</p>