<div class="hero-unit">
  <h1>Luca.js</h1>
  <p>A framework and tools for building well architected client side applications.</p>
  <p>Based on <a href="http://backbonejs.org">Backbone.js</a> and <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>.</p>
  <a class="btn btn-large btn-primary" href="//datapimp.gitub.com/luca/downloads/luca-latest.zip">Download Luca</a>

  <ul class="links">
    <li>
      <a href="https://github.com/datapimp/luca">Github Project</a>
    </li>
    <li>
      <a href="#examples">Examples</a>
    </li>
    <li>
      <a href="#contribute">Contribute</a>
    </li>
    <li>
      Version <%= Luca.VERSION %>
    </li>
  </ul>

</div>

<div>
  A labor of love by <a href="http://twitter.com/soederpop">@soederpop</a> for my son and my comrades at <a href="https://benchprep.com">@benchprep</a>.
</div>

<div>
  <a href="https://github.com/datapimp/luca/issues">Issues</a>
  <a href="https://github.com/datapimp/luca/blob/master/CHANGELOG">Changelog</a>
</div>