#builder {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  .project-browser-container {
    margin: 0px; 
    .component-list-filter-form.well {
      padding: 4px;
      input {
        width: 80%;  
      }
      span.add-on {
        cursor: pointer;
      }    
      .control-group {
        padding: 0px;

      }
    }    

    #component_list {
      overflow: scroll;
      height:100%;
      .collection-item {
        padding: 3px 0px 3px 4px;
        cursor: pointer;
      }
    }
  }

  .builder-editor-container {
    .builder-editor {
      margin-left: 0px;
    }
    .CodeMirror {
      font-size: 1.2em;
      line-height: 1.5; 
    }
  }


  .builder-canvas + .builder-editor {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .builder-canvas {
    padding: 20px;  
  }

  .toolbar-container {
    padding-right: 12px;

    .luca-ui-toolbar.toolbar-bottom {
      margin-top: 0px;
    }
    .luca-ui-toolbar.toolbar-top {
      margin-bottom: 0px;
    }
 }
}

#builder.canvas-position-below {
  .builder-editor {
    border-bottom: 1px solid #999;  
    -moz-box-shadow: 0px 0px 1px #333;
    -webkit-box-shadow: 0px 0px 1px #333;
    box-shadow: 0px 0px 1px #333;    
  }
}

.project-browser {
  width: 30%;
  top: 0px;
  left: 0px;
}

