
#builder {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  .toolbar-container {
    padding-right: 12px;

    .luca-ui-toolbar.toolbar-bottom {
      margin-top: 0px;
    }
    .luca-ui-toolbar.toolbar-top {
      margin-bottom: 0px;
    }
 }

}

.builder-editor-container {
  .CodeMirror {
    font-size: 1.2em;
    line-height: 1.5; 
  }
}

#component_list {
  overflow: scroll;
  height:100%;
  .collection-item {
    padding: 3px 0px 3px 4px;
    cursor: pointer;
  }
}
