#sample-component-wrapper {
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5);
  padding: 5px;
  height: 420px;
  h1 {
    width: 100%;
    text-align: center;
    padding-top: 8px;
  }

  #sample-component {
    height: 100%;
  }

  #form-vew, #collection-view, #toolbar {
    margin: 4px 0px;
  }
  #form-view {
    background-color: rgba(200,0,0,0.5);
    border: 1px solid rgba(200,0,0,1);
    height: 18%;
  }
  #collection-view {
    background-color: rgba(0,200,0,0.5);
    border: 1px solid rgba(0,200,0,1);
    height: 50%;
  }
  #toolbar {
    background-color: rgba(0,0,200,0.5);
    border: 1px solid rgba(0,0,200,1);
    height: 18%;
  }
}