(function() {
  this.JST || (this.JST = {});
  this.JST["docs/templates/github_repository"] = function(obj){var __p=[],print=function(){__p.push.apply(__p,arguments);};with(obj||{}){__p.push('<div class="github-repository">\n  <i class="icon icon-github" />\n  <span class="name">',  model.get('name') ,'</span>\n</div>\n');}return __p.join('');};
}).call(this);
