(function() {
  this.JST || (this.JST = {});
  this.JST["docs/templates/left_navigation"] = function(obj){var __p=[],print=function(){__p.push.apply(__p,arguments);};with(obj||{}){__p.push('<ul class="nav nav-pills stacked">\n  <li>\n    <a href="#">What</a>\n  </li>\n</ul>\n');}return __p.join('');};
}).call(this);
