(function() {
  this.JST || (this.JST = {});
  this.JST["docs/templates/examples_browser/selector"] = function(obj){var __p=[],print=function(){__p.push.apply(__p,arguments);};with(obj||{}){__p.push('<ul class="panel-selector nav nav-pills">\n  <li class="active component">\n    <a class="link" data-index=0 data-navigate-to="#examples/',  example_name ,'/component">Component</a>\n  </li>\n  <li class="source">\n    <a class="link" data-index=1 data-navigate-to="#examples/',  example_name ,'/source">Source</a>\n  </li>\n  <li class="documentation">\n    <a class="link" data-index=2 data-navigate-to="#examples/',  example_name ,'/documentation">Documentation</a>\n  </li>\n</ul>\n');}return __p.join('');};
}).call(this);
