<div id='viewport'></div>

<script type="text/javascript">
  window.<%= javascript_namespace %>Bootstrap = {};
</script>
  
<%%= javascript_include_tag "<%= application_name %>/dependencies", "<%= application_name %>" %>
