#viewport

:javascript
  window.<%= javascript_namespace %>Bootstrap = {};
  window.<%= javascript_namespace %>BaseParams = {};

= javascript_include_tag "<%= application_name %>/dependencies", "<%= application_name %>"
