(function() {
  this.JST || (this.JST = {});
  this.JST["docs/templates/pages/code_sync"] = function(obj){var __p=[],print=function(){__p.push.apply(__p,arguments);};with(obj||{}){__p.push('<h2>Say goodbye to browser refreshing...</h2>\n<p>One very painful aspect of developing single page applications is having to refresh the browser all the time, and then restore the state of your application to where it was when you were testing a particular feature.</p>\n<p>Tools like LiveReload exist, and they\'re great, except they don\'t always work well with the asset pipeline.</p>\n<p>The Luca gem ships with a <a href="#docs/Luca.CodeSyncManager">Luca.CodeSyncManager</a> and an easy command line utility which keeps your application code and stylehseets in sync with the running browser session.</p>\n');}return __p.join('');};
}).call(this);
