(function() {
  this.JST || (this.JST = {});
  this.JST["docs/templates/pages/documentation_generator"] = function(obj){var __p=[],print=function(){__p.push.apply(__p,arguments);};with(obj||{}){__p.push('<h2>Documentation as a first class citizen</h2>\n<p>Your luca components are your documentation.</p>\n');}return __p.join('');};
}).call(this);
