<div class="pagination">
  <a class="btn previous">
    <i class="icon icon-chevron-left"></i>
  </a>
  <div class="pagination-group">
  </div>
  <a class="btn next">
    <i class="icon icon-chevron-right"></i>
  </a>
</div>