<div class="btn-group form-actions">
  <a class="btn btn-primary submit-button">
    <i class="icon icon-ok icon-white"></i>
    Save Changes
  </a>
  <a class="btn reset-button cancel-button">
    <i class="icon icon-remove"></i>
    Cancel
  </a>
</div>