(function() {
  this.JST || (this.JST = {});
  this.JST["docs/templates/component_editor/navigation"] = function(obj){var __p=[],print=function(){__p.push.apply(__p,arguments);};with(obj||{}){__p.push('<ul class="nav nav-pills inline">\n  <li>\n    <a class="link">Component Editor</a>\n  </li>\n  <li>\n    <a class="link">Stylesheets</a>\n  </li>\n  <li>\n    <a class="link">Setup</a>\n  </li>\n</ul>\n');}return __p.join('');};
}).call(this);
