.font-large {
  .CodeMirror {
    font-size: 1.3em;
    line-height: 1.5em;
  }
}

.font-small .CodeMirror {
  font-size: 1.0em;
  line-height: 1.2em;
}

.fixed-height {
  .CodeMirror-scroll {
    overflow: auto;
    height: 350px;
  }
}
.auto-height {
  .CodeMirror-scroll {
    height: auto;
    overflow: visible;
  }
}
