.luca-ui-console {
  border-top: 1px solid #ccc;
  .luca-ui-text-field {
    width: 100%;
    background-color: #272822;
    input {
      color: #fff;
      border: 0px;
      width: 99%;
      background-color: #272822;
    }
  }
}