.builder-canvas + .luca-ui-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.luca-ui-container {}

.luca-ui-card {
}

.toolbar-container {
  clear: both;
}

.toolbar-container.top {
  height:54px;
}

.toolbar-container.bottom {
  margin-top: 0px;
}
