.luca-ui-tab-view-wrapper {
  .luca-ui-tab-container {
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline;
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
