<h3>Luca Component Examples</h3>
<p>Here is a collection of components developed using the Luca framework.  They make use of the Github API as their data source, and show off some of the neat things you can do with the components you develop.</p>
<p>For each example, you can see the component in action as it is used, view the source code for the component, and see the documentation that gets generated from your component definition files.</p>
<p>The first example is the <a href="#examples/api_browser">API Browser</a> which is a simple component that allows you to view the formatted JSON output from an API endpoint that you enter. Use the tabs to the left to browse through the examples.</p>