<ul class="panel-selector nav nav-pills">
  <li class="active component">
    <a class="link" data-index=0 data-navigate-to="#examples/<%= example_name %>/component">Component</a>
  </li>
  <li class="source">
    <a class="link" data-index=1 data-navigate-to="#examples/<%= example_name %>/source">Source</a>
  </li>
  <li class="documentation">
    <a class="link" data-index=2 data-navigate-to="#examples/<%= example_name %>/documentation">Documentation</a>
  </li>
</ul>