<ul class="nav nav-pills">
  <li class="active component">
    <a href="#examples/<%= example_name %>/component">Component</a>
  </li>
  <li class="source">
    <a href="#examples/<%= example_name %>/source">Source</a>
  </li>
  <li class="documentation">
    <a href="#examples/<%= example_name %>/documentation">Documentation</a>
  </li>
</ul>